@font-face {
  font-family: myFirstFont;
  src: url(./angella_white/AngellaWhite.otf);
}
@font-face {
  font-family: mysecond-font;
  src: url(./tt_chocolates/TTChocolatesTrialExtraLight.otf);
}
body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url(./img/sfondo.png);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */

  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

.center {
  margin: 0 auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

h1 {
  font-family: myFirstFont;
  color: #004aad;
  font-size: 100px;
  align-items: center;
  margin-top: 80px;
}
h3 {
  font-family: mysecond-font;
  color: #004aad;
  font-size: 32px;
}
h5 {
  font-family: mysecond-font;
  color: #004aad;
  font-size: 120%;
}
h6 {
  font-family: mysecond-font;
  color: #004aad;
  font-size: 120%;
  font-weight: 70;
}

p {
  font-family: mysecond-font;
  color: #004aad;
}
.myButton {
  background-color: transparent;
  border: 2px solid #004aad;
  display: inline-block;
  cursor: pointer;
  color: #004aad;
  font-family: mysecond-font;
  font-size: 15px;
  padding: 10px 60px;
  margin: 15px;
  text-decoration: none;
}
.myButton:hover {
  background-color: transparent;
  font-weight: bold;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .center {
    margin: 0 auto;

    width: 80%;
    padding: 10px;
    text-align: center;
  }
  h1 {
    font-size: 400%;
    align-items: center;
    margin-top: 110px;
  }
  h3 {
    font-size: 150%;
  }
  h5 {
    font-size: 120%;
  }
  h6 {
    font-family: mysecond-font;
    color: #004aad;
    font-size: 120%;
    font-weight: 70;
  }

  p {
    font-family: mysecond-font;
    color: #004aad;
  }
  .myButton {
    font-size: 15px;
    padding: 6px 30px;
    margin: 10px;
    text-decoration: none;
  }
  .myButton:hover {
    background-color: transparent;
    font-weight: bold;
  }
}
